<div class="row">
    <div class="col-12"> 
        <!-- Recent Order Table -->
        <div class="card card-table-border-none" id="recent-orders">
        <div class="card-header justify-content-between">
            <h2>Edit Page with ID: <?=$page->id?></h2>
            
            <div class="card-body">
                <form role="form" action="" method="post">
                    <input type="hidden" name="action" value="1">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationServer01">Title</label>
                            <input type="text" class="form-control" name="title" id="validationServer01" placeholder="Title" value="<?=$page->title?>">
                        </div>
                       
                        <div class="col-md-12 mb-3">
                            <label class="form-label" >Content</label>
                            <textarea name="content" class="form-control"><?=$page->content?></textarea>
                        </div>
                                            
                    </div>

                    <button type="submit" class="btn btn-primary btn-pill text-white" role="button"> Edit</button>
                    
                </form>

            </div>
        
        
        </div>
    </div>
</div>             